.movieImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.image {
  width: 150px;
  height: 100vh;
  margin-right: 10px;
}
.mov-card {
  /* width: 80%; */
}
.item-card {
  /* width: 100%; */
  height: 150px;
  border-radius: 15px;
  margin: 25px 0;

  position: relative;
  z-index: 4;
  background: linear-gradient(rgb(124, 107, 107), rgb(8, 8, 8));
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 1;
  left: 0%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background: linear-gradient(black, transparent);
  opacity: 0.1;
}

.movie-btn {
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 25px;
}
.content {
  height: 100%;
}
